.dashboard-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.answer-count{
    width: 70vw;
    text-align: right;
    margin-right: 20vw;
}

.word{
    margin-left: 10vw;
}

.under-headers{
    width: 65%;
    border: #3951a8 double 5px;
}

.under-word{
    margin-left: 5vw;
    width: 79vw;
    border: #9bd9e7 double 5px;
}

.detail-box{
    border: #3951a8 double 3px;
    margin-bottom: 8px;
}

.spacer{
    height: 15px;
}