h1{
    text-align: center;
}

.login-links{
    background-color: #9bd9e7;
    border: 5px double #3951a8;
    
    margin-left: 25%;
    margin-right: 25%;

    display: flex;
    justify-content: center;
}

.login-links *{
    background-color: #9bd9e7;
    padding-left: 20px;
    padding-right: 20px;
}

.user-name{
    font-size: 145%;
    margin-left: 30px;
    margin-bottom: 25px;
}

.logout{
    margin-left: 30px;
}

